<script>
  export let src = "/favicon.png";
  export let caption = "An example image";
  export let height = "";
  export let width = "";
</script>

<div>
  <div class="c">
    <img {src} alt={caption} {width} {height} />
  </div>
  <div class="c">
    <p><em>{caption}</em></p>
  </div>
</div>

<style>
  .c {
    display: flex;
    justify-content: center;
  }
</style>
